div {
    border: 1px solid black;
    width: 600px;
    position: relative;
}

.addButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

select {
    width: 173px;
}

#examDate {
    width: 168px;
}

.feedbackDivFaculty, .feedbackDivProfessor, .feedbackDivStudent, .feedbackDivExam {
    color: black;
    border: 0px;
    z-index: 0;
}