* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.white {
    color: white;
}

.full{
    width: 100%;
}

.container{
    width: 80%;
}

.blue {
    background-color: rgb(2, 42, 90);
}

.search {
    float: right;
    margin: 5px;
    padding: 5px;
    height: 1.4rem;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.header{
    display: inline-block;
    margin: auto;
    padding: 3px;
    position: relative;
}

.showDiv {
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    z-index: 5;

}

.showDiv img {
    width: 100%;
}

.showDiv p {
    color: black;
}

.footer {
    padding: 5px;
}

#showIMG {
    /* float: left; */
    height: 200px;
    /* display: inline-block; */
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.toggle {display:block;}
/* }
.ulsearch {
    display: none;
  background-color: white;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 5px;
  width: 185px;
  border: 1px solid black;
  z-index: 1; }
  .ulsearch li {
    border-bottom: 1px solid #343A40;
    cursor: pointer; }
  .ulsearch li:last-child {
    border-bottom: none; }
 */


